*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	/* border: 1px solid black; */
}

/* PRE-SET FONTS */
h1,h2,h3,h4,h5,h6{
	font-family: 'Arvo', serif;
	color: whitesmoke;
}

p,span,button,a{
	font-family: 'Arimo', sans-serif;
	color: whitesmoke;
}

/* + + + + + + + + + + */
#content{
	z-index: -1;
	background-image: url("../images/bg1.png");
}

#content>nav{
	background-color: rgba(34, 38, 41, .8);
}

#navDesktop li,#navDesktop hr{
	opacity: 0;
}

button:focus{
	outline-style: none;
}

#navDesktop>ul{
	transform: translateY(-60%);
}

#topContent>img{
	border-radius: 50%;
}

#left,#right{
	background-color: rgba(34, 38, 41, .4);
}

#right>div{
	width: 80%;
}

#left>img{
	border-radius: 50%;
	height: 22.5%;
}

#home>div{
	z-index: -1;
	opacity: 0;
}

.proj>img,.proj>h4:hover{
	cursor: pointer;
}

/* - - - - - - - - - - */

.indicator::before,.indicator::after{
	content: " - ";
}

/* CLASS ANIMATIONS */
.animationLandingPage{
	animation: animateLandingPage .8s ease-in forwards;
}

.animationLeft{
	/* transform-origin: left; */
	animation: animateLeft .8s ease-in forwards;
}

.animationRight{
	/* transform-origin: right; */
	animation: animateRight .8s ease-in forwards;
}

.animateNav{
	animation: animateNav 1s .94s;
	animation-fill-mode: backwards;
	animation-timing-function: ease-out;
}

.animateMobileNav{
	animation: animateMobileNav 1s .94s;
	animation-fill-mode: backwards;
	animation-timing-function: ease-out;
}

.animateHome{
	position: relative;
	z-index: 1;
	opacity: 0;
	animation: animateOpacity 1s forwards;
}

.animateHr{
	opacity: 0;
	animation: animateOpacity .5s .3s forwards;
}

.animateProjects{
	opacity: 0;
	position: relative;
	transform: translateY(-5vh);
	animation: moveLi 1s .5s forwards ease-out,animateOpacity 1s .5s both ease-in;
}

.animateLogo{
	animation: animateLogo 1s both;
}

.animateTop{
	animation: animateOpacity 1s forwards; 
}

.moveProject{
	animation: homeProject 1s both;
}

.hideProject{
	animation: hideProject 1s both;
}

.hideHome{
	animation: hideHome 1s both;
}

.showHome{
	animation: showHome 1s both;
}

/* END OF CLASS ANIMATIONS */

/* KEYFRAMES */
@keyframes animateLandingPage{
	from{
		transform: translateY(0vw);
	}
	to{
		transform: translateY(-100vh);
	}
}

@keyframes animateLeft{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(-50vw);
	}
}

@keyframes animateRight{
	from{
		transform: translateX(0);
	}
	to{
		transform: translateX(50vw);
	}
}

@keyframes animateNav{
	from{
		transform: translateX(-20vw);
	}
	to{
		transform: translateX(0);
	}
}

@keyframes animateMobileNav{
	from{
		transform: translateY(-6rem);
	}
	to{
		transform: translateY(0);
	}
}

@keyframes animateOpacity{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes moveLi{
	from{
		transform: translateY(-5vh);
	}
	to{
		transform: translateY(0);
	}
}

@keyframes animateLogo{
	from{
		opacity: 0;
		transform: translateY(-5vh);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes homeProject{
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(-100vh);
	}
}

@keyframes hideProject{
	from{
		transform: translateY(-100vh);
	}
	to{
		transform: translateY(0);
	}
}

@keyframes hideHome{
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(-100vh);
	}
}

@keyframes showHome{
	from{
		transform: translateY(-100vh);
	}
	to{
		transform: translateY(0);
	}
}

/* END OF KEYFRAMES */


/* TEXT INDICATOR */
.hideTextIndicator {
	visibility: hidden;
}

.textIndicator {
	position: relative;
	bottom: 4px;
	left: 2px;
	color: white;
}
/* END OF TEXT INDICATOR */




/* MEDIA */

/* Mobile */
@media only screen and (min-width:0px){
	/* html{
		font-size: 20px;
	} */
	
	#topContent>div>p{
		font-size: 2rem;
	}
}

/* SM */
@media only screen and (min-width:640px){
	/* html{
		font-size: 16px;
	} */
	#topContent>div>p{
		font-size: 1.7rem;
	}
	#left>img{
		height:30%;
	}
	/* #right>div>button{
		font-size: 1.6rem;
	} */
}

/* MD */
@media only screen and (min-width: 768px){
	/* html{
		font-size: 16px;
	} */
	#left>img{
		height:40%;
	}
	#right>div>button{
		font-size: 1.2rem;
	}
	#topContent > img{
		width: 20%;
	}
}

/* LG */
@media only screen and (min-width: 1024px){
	/* html{
		font-size: 16px;
	} */
	#topContent>div>p{
		font-size: 1.2rem;
	}
	#topContent > img{
		width: 17%;
	}
	/* #topContent > div{
		font-size: 1.2rem;
	} */

	#left>img{
		height: 50%;
	}
}

/* XL */
@media only screen and (min-width: 1280px){
}

/* 2XL */
@media only screen and (min-width: 1600px){
	#topContent>div{
		width: 40%;
	}
}